%footer.slp-mt-48.slp-relative.slp-text-white{:style => "background: rgb(107, 79, 187);"}
  = partial "includes/logos/footer_logo.svg"
  .slp-container.slp-mx-auto.slp-px-10.slp-mb-0
    %ul.slp-list-none.slp-text-base.slp-text-xs.slp-text-center.slp-text-white.slp-mb-0.slp-flex.slp-justify-center{:style => "padding: 40px 0 10px 0; color: hsla(0,0%,100%,.5);"}
      %li= link_to('Terms', '/terms/', :class => 'footer-nav-link slp-text-white slp-p-32', :"data-ga-name" => "Terms", :"data-ga-location" => "footer")
      %li
        %button#ot-sdk-btn.ot-sdk-show-settings{:"data-ga-name" => "Cookie Preferences", :"data-ga-location" => "footer"}
      %li= link_to('Privacy', '/privacy/', :class => 'footer-nav-link slp-text-white slp-p-32', :"data-ga-name" => "Privacy", :"data-ga-location" => "footer")
    %p.slp-text-base.slp-text-xs.slp-text-center.slp-text-grayscale.slp-mb-0{:style => "padding: 30px 0 10px 0; color: hsla(0,0%,100%,.5);"}
      Git is a trademark of Software Freedom Conservancy and our use of 'GitLab'
      is under license
  %p.slp-text-center.slp-text-sm.slp-px-10.slp-py-8.slp-mb-0{:style => "background: rgb(85, 68, 136);"}
    View
    = succeed('') do
      = link_to('page source', 'https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/sites/uncategorized/source/index.html.haml', :class => 'slp-underline slp-text-white', :"data-ga-name" => "page source", :"data-ga-location" => "footer")
    &mdash; Edit in
    = succeed('') do
      = link_to('Web IDE', 'https://gitlab.com/-/ide/project/gitlab-com/www-gitlab-com/edit/master/-/sites/uncategorized/source/index.html.haml', :class => 'slp-underline slp-text-white', :"data-ga-name" => "web ide", :"data-ga-location" => "footer")
    &mdash; please
    = succeed('.') do
      = link_to('contribute', 'https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md', :class => 'slp-underline slp-text-white', :"data-ga-name" => "please contribute", :"data-ga-location" => "footer")
    &copy;
    %span#copyright
      :javascript
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
    GitLab B.V.
